#cart-message {
    li {
        display: none;
        width: 200px;
        height: auto;
        position: fixed;
        top: 70px;
        right: 370px;
        padding: 7px;
        z-index: 1;
        background-color: #ededed;
        border: 1px solid $cor-cta;
        border-radius: 3px;
        margin-bottom: 10px;

        p {
            max-width: 85%;
        }

        span {
            font-weight: bold;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 7px;
        }

        a {
            font-weight: bold;
            color: $cor-cta;
            display: block;
            margin-top: 10px;
        }
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(0, -4px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 6px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -8px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 8px, 0);
    }
}

#cart-lateral {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ededed;
    width: 360px;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transition: all 300ms;

    &.shake {
        animation: shake 2s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;

        &:before {
            opacity: 1;
        }
    }

    &.active {
        z-index: 99;

        @media screen and (min-width: $mobile) {
            visibility: visible;
            opacity: 1;
        }

        @media screen and (max-width: $mobile) {
            bottom: 0 !important;
        }
    }

    @media screen and (max-width:$mobile) {
        width: 100%;
        top: initial;
        bottom: calc(-100% + 40px);
        left: 0;
        visibility: visible;
        opacity: 1;
        transition: bottom 300ms;

        &:before {
            content: 'Produto Adicionado na sacola';
            display: block;
            position: absolute;
            top: -50px;
            padding: 10px;
            background: #fff;
            box-shadow: 0 0 16px 0 #999;
            width: 80%;
            left: 50%;
            margin-left: -41%;
            border-radius: 20px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            opacity: 0;
            transition: all .3s .3s;
            text-align: center;
        }
    }

    .columns {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        > .column_1,
        > .column_2,
        > .column_3 {
            width: 100%;
        }

        > .column_1 {
            height: 10%;

            .header {
                height: 40px;
                padding: 0 10px;
                background-color: $cor-principal;
        
                @media screen and (max-width: $mobile) {
                    font-size: 16px;
                }
        
                ul {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    li {
                        &.total-items {
                            color: white;
                            font-weight: 300;
        
                            span {
                                font-weight: bold;
                            }
                        }
        
                        &.close {
                            i {
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                border-radius: 50px;
                                background-color: #fff;
                                color: black;
                                text-align: center;
                                cursor: pointer;
                                font-style: normal;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        > .column_2 {
            height: 65%;

            .content {
                height: 100%;
                margin: 0 10px;
                overflow-y: scroll;
                position: relative;
        
                &.loading {
                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
        
                &:before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: url(/arquivos/ajax-loader.gif);
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: '';
                    z-index: 1;
                    background-color: #ffffff61;
                    transition: opacity 300ms;
                    opacity: 0;
                    visibility: hidden;
                }
        
                @media screen and (max-width: $iphone5) {
                    margin: 0 10px 0 10px;
                }
        
                ul {
                    li {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        background-color: white;
                        padding: 5px;
                        margin-bottom: 10px;
        
                        .column_1 {
                            width: 30%;
        
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
        
                        .column_2 {
                            width: 70%;
        
                            .name {
                                padding-right: 20px;
        
                                p {
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 13px;
                                }
                            }
        
                            .ft {
                                margin-top: 10px;
        
                                ul {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
        
                                    li {
                                        width: 50%;
        
                                        .box-count {
                                            width: 100%;
                                            height: 30px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            background-color: #f8f8f8;
                                            border-radius: 3px;
        
                                            a {
                                                width: 25%;
                                                height: 100%;
                                                font-size: 18px;
                                                line-height: 30px;
                                                text-align: center;
                                                font-weight: bold;
                                                color: $cor-cta;
                                            }
        
                                            input {
                                                width: 50%;
                                                height: 100%;
                                                text-align: center;
                                                background-color: transparent;
                                            }
                                        }
        
                                        &.price {
                                            p {
                                                font-weight: bold;
                                                text-align: right;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
        
                        .removeUni {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            color: $cor-principal;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        > .column_3 {
            height: 25%;

            .frete {display: none;}
        
            .footer {
                margin-top: 10px;
                padding: 10px;
                background-color: white;
        
                ul {
                    margin-bottom: 10px;
    
                    li {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
        
                        span {
                            font-weight: 300;
        
                            &.frete {
                                text-align: right;
        
                                a {
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
        
                                .box-1 {
                                    div {
                                        display: none;
        
                                        form {
                                            display: flex;
                                            justify-content: flex-end;
        
                                            input[type="text"] {
                                                width: 80%;
                                                height: 26px;
                                                border: 1px solid $cor-secundaria;
                                                text-indent: 10px;
                                                transition: border 300ms;
                                                border-radius: 0;
                                                -webkit-appearance: none;
        
                                                &.active {
                                                    border: 1px solid red;
                                                }
                                            }
        
                                            input[type="submit"] {
                                                width: 20%;
                                                height: 26px;
                                                background-color: $cor-secundaria;
                                                color: #fff;
                                                cursor: pointer;
                                                -webkit-appearance: none;
                                                border-radius: 0;
                                            }
                                        }
                                    }
                                }
        
                                .box-2 {
                                    display: none;
        
                                    .return-frete {
                                        color: $cor-secundaria;
                                        margin-left: 5px;
                                        cursor: pointer;
                                    }
                                }
                            }
        
                            &.total-price {
                                color: black;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .no-estoque {
        position: fixed;
        width: 350px;
        bottom: 175px;
        margin-left: 10px;
        background-color: #f7d0d2;
        padding: 15px 10px;
        border-radius: 5px;
        color: #9C5954;
        font-weight: 500;
        margin-top: 15px;
        display: none;

        @media screen and (max-width:$mobile) {
            width: calc(100% - 20px);
        }

        &.active {
            display: block;
        }

        span {
            float: right;
            font-weight: bold;
            cursor: pointer;
            margin-top: -15px;
        }
    }

    .btn-finalizar {
        width: 100%;
        height: 45px;
        line-height: 45px;
        display: block;
        color: white;
        background-color: $cor-cta;
        border-bottom: 3px solid green;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}