.erros {
    main {
        section {
            background-image: url(/arquivos/bg-erros.jpg);
            background-repeat: no-repeat;
            background-position: top center;
            padding-bottom: 40px;

            @media screen and (max-width:$mobile) {
                padding: 80px 15px 0px;
                background-image: none;
                background: #f3f0ee;
            }

            h1,
            .text {
                text-align: center;
            }

            h1 {
                font-size: 60px;
            }

            h1,
            h2 {
                font-weight: 600;
                color: #494949;
            }

            .text {

                p,
                h2 {
                    font-size: 20px;
                }

                h2 {
                    @media screen and (max-width: $mobile) {
                        width: 90%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                p {
                    font-weight: 400;
                    margin: 10px 0 40px;
                    color: #494949;
                }
            }

            .box_search {
                max-width: 580px;
                width: 100%;
                height: 40px;
                margin: 0 auto;

                input {
                    width: 100%;
                    height: 100%;
                    text-indent: 15px;
                    border-radius: 50px;
                    box-shadow: 0px 3px 1px 1px #c0c0c0;

                    @media screen and (max-width: $mobile) {
                        height: 50px;
                    }

                    &+button {
                        width: 28px;
                        height: 28px;
                        float: right;
                        margin-top: -35px;
                        margin-right: 20px;
                        background-image: url(/arquivos/ico-lupa-black.png?v=1000);
                        background-position: center;
                        background-repeat: no-repeat;

                        @media screen and (max-width: $mobile) {
                            margin-top: -40px;
                        }
                    }
                }
            }

            .menu_apoio {
                width: 100%;
                max-width: 1450px;
                padding: 15px;
                margin: 0 auto;
                background-color: #ffffffc4;
                margin-top: 80px;

                @media screen and (max-width: $mobile) {
                    margin-left: -15px;
                    margin-right: -15px;
                    width: calc(100% + 30px);
                }

                h3 {
                    font-size: 20px;
                    font-weight: 400;
                    text-align: center;
                    margin: 10px 0 30px;

                    @media screen and (max-width: $mobile) {
                        font-size: 15px;
                    }
                }

                .nav-menu-apoio {
                    li {
                        display: inline-block;
                        width: calc(100%/7);
                        vertical-align: top;

                        &:last-child {
                            padding-left: 3%;

                            @media screen and (max-width: $mobile) {
                                padding-left: 0;
                            }

                        }

                        @media screen and (max-width: $mobile) {
                            width: calc(100%/2);
                        }

                        p {
                            width: 50%;
                            margin-bottom: 25px;
                            color: $cor-principal;
                            font-weight: 900;

                            @media screen and (max-width: $mobile) {
                                width: 100%;
                                font-size: 13px;
                            }

                        }

                        ul {
                            @media screen and (max-width: $mobile) {
                                display: none;
                            }
                        }

                        li {
                            display: block;
                            width: auto;
                            margin-bottom: 15px;

                            &.lista-completa {
                                text-transform: capitalize;
                                text-decoration: underline;
                                padding-left: 0px !important;
                            }

                            a {
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
}

.error {
    main {
        font-family: 'Montserrat', sans-serif;

        .aviso {
            margin: 0 auto;
        }
    
        h2 {
            color: #68b2c2;
            font-size: 60px;
            font-weight: bold;
            margin: 60px 0 30px;
            text-align: center;
    
            @media screen and (max-width: 769px) {
                margin-top: 30px;
            }
    
            &:before {
                content: '';
                display: inline-block;
                width: 120px;
                height: 120px;
                background-image: url('/arquivos/img-pag-erro.png');
                background-size: 100%;
    
    
                @media screen and (max-width: 769px) {
                    width: 100px;
                    height: 100px;
                }
            }
    
            span {
                vertical-align: super;
                display: inline-block;
    
                @media screen and (max-width: 769px) {
                    vertical-align: unset;
                }
            }
        }
    
        p {
            color: #494949;
            font-size: 18px;
            margin-bottom: 45px;
            text-align: center;
    
            &.descricao-erro {
                color: #36616a;
                font-weight: bold;
                margin-bottom: 20px;
    
                &.busca-vazia {
                    @media screen and (max-width: 490px) {
                        width: 200px;
                        margin: 0 auto 30px;
                        display: block;
                    }
                }
    
                &.erro-404 {
                    @media screen and (max-width: 490px) {
                        width: 255px;
                        margin: 0 auto 30px;
                        display: block;
                    }
                }
    
            }
    
            &.erro-500 {
                @media screen and (max-width: 490px) {
                    width: 245px;
                    display: block;
                    margin: 0 auto 45px;
                }
            }
        }
    
        form {
            width: 100%;
            max-width: 650px;
            position: relative;
            height: 45px;
            margin-bottom: 65px;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #e4e4e4;
            border-bottom: 3px solid #e4e4e4;
    
            @media screen and (max-width: 769px) {
                margin-bottom: 25px;
            }

            input {
                width: 80%;
                height: 100%;
                float: left;
                font-size: 14px;
                padding-left: 30px;
                outline: 0;
        
                @media screen and (max-width: 769px) {
                    padding-left: 15px;
                }
        
                &::placeholder,
                &::-webkit-input-placeholder,
                &:-moz-placeholder {
                    color: #727272;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 45px;
                }
        
            }
        
            button {
                width: 20%;
                float: left;
                border: none;
                color: #af2b2b;
                font-size: 14px;
                background: transparent;
                font-weight: bold;
                display: inline-block;
                line-height: 40px;
                outline: 0 !important;
        
                &:before {
                    content: "";
                    display: inline-block;
                    width: 30px;
                    height: 25px;
                    background-image: url('/arquivos/icon-busca-erro.png');
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                    border-left: 1px solid #dbdbdb;
                    vertical-align: middle;
                    background-position-x: 10px;
                    background-position-y: 2px;
                }
        
                span {
                    vertical-align: top;

                    @media screen and (max-width:$mobile) {
                        display: none;
                    }
                }
            }
        }
    
        .menu-error {
            background-color: #fff;
            border-radius: 5px;
            padding: 40px 0 0px;
            border: 1px solid #f3f3f3;
            margin-bottom: 115px;
            -webkit-box-shadow: 8px -1px 15px -2px rgba(239, 239, 239, 1);
            -moz-box-shadow: 8px -1px 15px -2px rgba(239, 239, 239, 1);
            box-shadow: 8px -1px 15px -2px rgba(239, 239, 239, 1);
    
    
            @media screen and (max-width: 769px) {
                margin-left: 15px;
                margin-right: 15px;
            }
    
            p {
                color: #2a2a2a;
                font-size: 16px;
                text-align: center;
                margin-bottom: 55px;
    
                @media screen and (max-width: 769px) {
                    display: none;
                }
            }
    
            li {
                list-style: none;
    
                &.mg-bottom {
                    margin-bottom: 16px;
                }
            }
    
            ul {
                margin-bottom: 75px;
    
                &.paddding-mob {
                    @media screen and (max-width: 769px) {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                }
            }
    
            a {
                font-size: 14px;
                color: #5b5b5b;
                margin-bottom: 15px;
                display: block;
    
                &.bold {
                    font-weight: bold;
                }
    
                &.title-nav {
                    color: #9e232f;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
    
                &.mg-top {
                    margin-top: -15px;
                    margin-bottom: 20px;
    
                    @media screen and (min-width:490px) and (max-width: 769px) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}