footer {
	.row-0 {
		.newsletter {
			margin-top: 25px;
			padding: 25px 0;
			
			@media screen and (min-width:$mobile) {
				border-top: 1px solid #dcdcdc;
			}

			h3 {
				font-size: 18px;
				font-weight: bold;
				display: flex;
				align-items: center;
				color: $cor-principal;
				
				@media screen and (max-width:$mobile) {
					justify-content: center;
				}

				&:before {
					content: '';
					width: 43px;
					height: 27px;
					margin-right: 10px;
					display: inline-block;
					background-image: url(/arquivos/ico_email.png);
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			fieldset {
				p {
					font-size: 12px;
					font-weight: 400;
					color: #656565;

					@media screen and (max-width:$mobile) {
						width: 70%;
						display: block;
						margin: 10px auto;
						text-align: center;
					}
					
					@media screen and (min-width:$mobile) {
						width: 50%;
						float: left;
					}
				}

				#newsletterClientName {
					display: none;
				}

				#newsletterClientEmail {
					height: 40px;
					border: 1px solid #dcdcdc;
					box-shadow: 0px 2px 0px 1px #dcdcdc;
					border-radius: 3px;
					text-indent: 15px;

					@media screen and (max-width:$mobile) {
						width: 100%;
					}
					
					@media screen and (min-width:$mobile) {
						width: 50%;
						margin-top: -20px;
					}
				}

				#newsletterButtonOK {
					float: right;
					background: none;
					font-weight: bold;
					margin-top: -29px;
					margin-right: 15px;
					padding-left: 10px;
					color: $cor-cta;
					border-left: 1px solid #dcdcdc;	
					cursor: pointer;			
				}
			}
		}
	}

	.row-1 {
		background-color: #f5f5f5;
		padding: 80px 0 10px;	
		margin-bottom: 30px;

		@media screen and (max-width:$mobile) {
			padding: 10px 0 10px;
		}

		.toggle {
			@media screen and (max-width:$mobile) {
				.title  {
					font-size: 18px;
					font-weight: 400;
					height: 50px;
					line-height: 50px;
					margin-right: -15px;
					margin-left: -15px;
					margin-top: 2px;
					margin-bottom: 2px;
					border-bottom: 1px solid #dcdcdc;
					position: relative;
					font-weight: 600;
	
					&.active {
						&:after {
							opacity: 0;
						}
					}
	
					&:before {
						content: '';
						width: 2px;
						height: 8px;
						display: block;
						position: absolute;
						right: 23px;
						top: 22px;
						background-color: #000;
					}
	
					&:after {
						content: '';
						display: block;
						width: 8px;
						height: 2px;
						background-color: #000;
						position: absolute;
						transition: opacity 300ms;
						right: 20px;
						top: 25px;
					}
				}

				ul {
					display: none;
					background-color: white;
					margin-left: -15px;
					margin-right: -15px;
					text-align: center;
					padding: 20px 0;
				}
			}
		}

		.midias {
			@media screen and (max-width:$mobile) {
				margin-top: 30px;
			}

			ul {
				display: flex;
	
				@media screen and (max-width:$mobile) {
					justify-content: center;
				}
	
				li {
					margin-right: 10px;
	
					&:last-child {
						margin-right: 0;
					}
					
					svg,
					img {
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	
		.title {
			font-size: 16px;
			font-weight: bold;
			color: #000;
			margin-bottom: 30px;

			@media screen and (max-width:$mobile) {
				text-align: center;
			}
		}

		ul {
			li {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 10px;
			}

			&.atendimento {
				li {
					margin-bottom: 20px;

					a {
						strong {
							display: block;
						}
					}
				}
			}
		}

		address {
			font-size: 12px;
			font-weight: 300;
			font-style: normal;

			@media screen and (max-width:$mobile) {
				width: 80%;
				margin: 0 auto 30px;
				text-align: center;
			}
		}

		.contact {
			@media screen and (max-width:$mobile) {
				display: none;
			}

			.title {
				&:nth-child(2) {
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}
	}

	.row-2 {
		background-color: white;
		padding-top: 20px;

		.title {
			@media screen and (max-width:$mobile) {
				text-align: left;
			}
		}

		.bandeiras {
			ul {
				li {
					margin-right: 5px;
					
					img {
						width: 45px;
						height: auto;
					}
				}
			}
		}

		.col-12 {
			.title {
				@media screen and (max-width:$mobile) {
					text-align: center;
				}
			}
		}

		p {
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 30px;

			@media screen and (max-width:$mobile) {
				text-align: center;
			}

			&.copyright {
				font-size: 12px;
				font-weight: 300;
				margin: 50px 0 10px;
				padding-top: 10px;
				border-top: 1px solid #dcdcdc;
				text-align: center;

				span {
					&:nth-child(1) {
						display: block;
						margin-bottom: 10px;
					}
				}
			}
		}

		ul {
			display: flex;

			@media screen and (max-width:$mobile) {
				justify-content: center;
				margin-bottom: 30px;
			}

			&.seguranca {
				img {
					width: 55px;
					height: auto;
				}
			}

			&.seguranca,
			&.cartoes {
				align-items: center;
			}

			li {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}