.home {
    .prateleira {
        ul {
            li {
                width: 100%;
            }
        }
    }

    .fullbanner {
        .slick-arrow {
            top: 50%;
        }

        &.desktop {
            ul {
                opacity: 0;
            
                &.slick-initialized {
                    opacity: 1;
                }
            }
            
            &.loading {
                height: 420px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(/arquivos/ajax_loader.gif);

                .slick-slider {
                    opacity: 0;
                }
            }

            .slick-list {
                position: relative;
                left: 50%;
                margin-left: -960px;
            }
        }

        &.mobile {
            a {
                display: block;
                
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .tipbar {
        margin: 25px 0; 
        padding: 10px 20px;
        background-color: #fff;
        
        @media screen and (min-width:$mobile) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        @media screen and (max-width:$mobile) {
            li {
                img {
                    margin: 0 auto;
                }
            }
        }
    }

    .navegue {
        margin: 60px 0 100px;
        
        @media screen and (min-width:$mobile) {
            display: flex;
            flex-wrap: wrap;
        }
        
        .title {
            width: 20%;
            display: flex;
            align-items: center;

            @media screen and (max-width:$mobile) {
                width: 100%;
                margin-bottom: 20px;
            }
        
            p {
                font-size: 30px;
                font-weight: 400;
                line-height: 30px;

                span {
                    color: $cor-principal;
                }
            }
        }

        .content {
            width: 80%;

            @media screen and (max-width:$mobile) {
                width: 100%;
            }

            ul {                
                @media screen and (min-width:$mobile) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    text-align: center;

                    @media screen and (max-width:$mobile) {
                        img {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .banner_category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 60px;

        li {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .marcas {
        margin: 20px 0 40px;

        h2 {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 20px;

            span {
                color: $cor-principal;
                font-weight: 400;
            }
        }

        ul {
            width: 95%;
            padding: 10px 30px;
            margin: 0 auto;     
            background-color: #fff;
            
            @media screen and (min-width:$mobile) {
                display: flex;
                justify-content: space-between;
            }

            .slick-prev {
                left:-20px;
            }

            .slick-next {
                right: -20px;
            }

            .box-banner {
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    @media screen and (max-width:$mobile) {
                        width: 80%;
                        height: auto;
                    }
                }
            }
        }
    }

    .one_prod {
        margin-bottom: 45px;

        .prateleira {
            > h2 {display: none!important;}

            ul {
                li {
                    padding: 0;

                    figure {
                        text-align: center;

                        img {
                            width: 55%;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}