.lista-escolar {
    #cart-lateral {
        display: none;
    }

    .fullbanner {
        .slick-arrow {
            display: none !important;
        }

        img {
            @media screen and (min-width:$mobile) {
                position: relative;
                left: 50%;
                margin-left: -960px;
            }

            @media screen and (max-width:$mobile) {
                width: 100%;
                height: auto;
            }
        }
    }

    //COMPONENTES
    span[data-function="checkbox"],
    span[data-function="list"] {
        width: 25px;
        height: 25px;
        border-radius: 3px;
        border: 1px solid $cor-principal;
        cursor: pointer;
        margin-right: 10px;
        display: inline-block;
        background-size: 0;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/arquivos/ico-checked.png);

        &.checked {
            background-size: 80%;
        }
    }

    &.minhas-escolas {
        main {
            h2 {
                font-size: 28px;
                font-weight: 400;
                margin: 40px 0;
                text-align: center;
            }
        }
    }

    &.cadastro {

        //INICIO
        .content_0 {
            >.head {
                h2 {
                    margin: 50px 0;
                    text-align: center;
                    font-size: 30px;
                    font-weight: 400;
                }
            }

            >.content {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-bottom: 100px;

                    li {
                        width: 300px;
                        height: 200px;
                        border-bottom: 4px solid $cor-cta;
                        background-color: #fff;
                        border-radius: 3px;

                        @media screen and (min-width:$mobile) {
                            margin-right: 60px;
                        }

                        @media screen and (max-width:$mobile) {
                            margin-bottom: 15px;
                        }

                        &:nth-child(2) {
                            margin-right: 0;

                            svg {
                                width: 45px !important;
                            }
                        }

                        &:nth-child(1) {
                            svg {
                                width: 60px;
                            }
                        }

                        a {
                            display: flex;
                            text-align: center;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            height: 100%;

                            &:hover {
                                color: initial;
                            }

                            i {
                                display: block;
                                margin: 0px auto 10px;

                                svg {
                                    height: auto !important;
                                    fill: $cor-cta;
                                }
                            }

                            p {
                                strong {
                                    font-size: 24px;
                                    font-weight: bold;
                                    color: $cor-cta;
                                    display: block;
                                }

                                small {
                                    font-size: 20px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }

        //INFORMAÇÕES DA ESCOLA
        .content_1 {
            h2 {
                margin: 50px 0;
                text-align: center;
                font-size: 30px;
                font-weight: 400;
            }

            form {
                .column {
                    &.two {
                        display: flex;
                        justify-content: space-between;
                    }

                    label {
                        &.title {
                            p {
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }

                        &.w_100 {
                            width: 100%;
                        }

                        &.w_30 {
                            width: 30%;
                        }

                        &.w_40 {
                            width: 40%;
                        }

                        &.w_50 {
                            width: 48%;
                        }

                        &.w_60 {
                            width: 60%;
                        }
                    }
                }

                input[name="comissionamento"] {
                    text-align: center;
                    text-indent: 0 !important;
                }

                input[readonly="readonly"] {
                    background-color: #dcdcdc;
                    pointer-events: none;
                }

                input[required="required"] {
                    &.alert {
                        background-position: 97%;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico_alert.png);
                        border-color: $cor-principal !important;
                    }

                    &.success {
                        background-position: 97%;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico_success.png);
                        border-color: $cor-cta !important;
                    }
                }
            }

            #criar_escola {
                width: 100%;
                max-width: 570px;
                border-radius: 3px;
                background-color: #fff;
                border: 1px solid #dcdcdc;
                box-shadow: 0px 1px 1px 1px #dcdcdc;
                margin: 0 auto;

                .status {
                    padding: 20px;

                    &[data-step="1"] {
                        span {
                            width: 33.3%;
                        }
                    }

                    &[data-step="2"] {
                        span {
                            width: 66.6%;
                        }
                    }

                    &[data-step="3"] {
                        span {
                            width: 90%;
                        }
                    }

                    &[data-step="4"] {
                        span {
                            width: 95%;
                        }
                    }

                    &[data-step="5"] {
                        span {
                            width: 100%;
                        }
                    }

                    p {
                        position: relative;
                        width: 100%;
                        height: 10px;
                        overflow: hidden;
                        border-radius: 50px;
                        background-color: #dcdcdc;

                        span {
                            width: 0;
                            height: 100%;
                            display: block;
                            position: absolute;
                            transition: width 300ms;
                            background-color: $cor-cta;
                            border-radius: 50px;
                        }
                    }
                }

                .content {
                    @media screen and (min-width:$mobile) {
                        padding: 20px 80px 20px 80px;
                    }

                    @media screen and (max-width:$mobile) {
                        padding: 20px;
                    }

                    .step {
                        label {
                            margin-bottom: 20px;

                            &.upload {
                                p {
                                    small {
                                        display: block;
                                    }
                                }

                                .btn {
                                    width: 140px;
                                    height: 35px;
                                    line-height: 35px;
                                    color: #fff;
                                    text-align: center;
                                    border-radius: 2px;
                                    font-weight: 700;
                                    cursor: pointer;
                                    display: block;
                                    margin: 20px auto;
                                    background-color: $cor-principal;
                                    border-bottom: 2px solid $cor-principal;
                                }
                            }

                            p {
                                font-weight: 300;
                                margin-bottom: 5px;

                                i {
                                    color: $cor-principal;
                                }
                            }

                            input,
                            select {
                                width: 100%;
                                height: 40px;
                                text-indent: 10px;
                                border-radius: 2px;
                                border: 1px solid #dcdcdc;
                                box-shadow: 1px 1px 1px 0px #dcdcdc;
                                transition: border 300ms;
                            }
                        }

                        &.step_2 {
                            a {
                                margin: 2px 0 0 2px;
                                display: block;
                                font-weight: 300;
                                text-decoration: underline;
                            }
                        }

                        &.step_3 {
                            .ico_file {
                                width: 123px;
                                height: 123px;
                                margin: 10px auto;
                                position: relative;
                                border: 2px dashed #a2a2a2;

                                input {
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                }

                                i {
                                    width: 123px;
                                    height: 123px;
                                    margin-top: -123px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    img {
                                        width: 70%;
                                        height: auto;
                                    }

                                    svg {
                                        width: 60px;
                                        height: 60px;
                                        fill: #a2a2a2;
                                    }
                                }
                            }

                            span {
                                display: block;
                                font-size: 12px;
                                color: #a2a2a2;
                                text-align: center;
                                margin-bottom: 30px;
                            }

                            textarea {
                                width: 100%;
                                height: 120px;
                                border: 1px solid #dcdcdc;
                                resize: none;
                                padding: 5px;
                            }
                        }

                        &.step_4 {

                            /* width */
                            ::-webkit-scrollbar {
                                width: 10px;
                                height: 10px;
                            }

                            /* Track */
                            ::-webkit-scrollbar-track {
                                border-radius: 50px;
                                background-color: #e4e4e4;
                            }

                            /* Handle */
                            ::-webkit-scrollbar-thumb {
                                background-color: $cor-cta;
                                border-radius: 50px;
                            }

                            .list {
                                max-height: 425px;
                                overflow-x: hidden;
                                margin-right: -10px;
                                padding-right: 10px;

                                ul {
                                    li {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        @media screen and (max-width: $mobile) {
                                            flex-direction: column;
                                        }

                                        //CLONE
                                        &:first-child {
                                            display: none;
                                        }

                                        &:not(:last-child) {
                                            margin-bottom: 15px;
                                        }

                                        span {
                                            @media screen and (max-width: $mobile) {
                                                width: 100%;
                                                text-align: center;
                                            }

                                            select,
                                            input[name="url"] {
                                                height: 40px;
                                                border-radius: 3px;
                                                text-indent: 15px;
                                                border: 1px solid #dcdcdc;

                                                @media screen and (max-width: $mobile) {
                                                    width: 100%;
                                                    margin-bottom: 15px;
                                                }
                                            }

                                            .more {
                                                width: 20px;
                                                height: 20px;
                                                color: #fff;
                                                display: inline-block;
                                                text-align: center;
                                                border-radius: 50px;
                                                background-color: $cor-cta;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .footer {
                    padding: 0 80px 40px;

                    @media screen and (max-width:$mobile) {
                        padding: 20px;
                    }

                    &[data-step="1"] {
                        .prev {
                            display: none;
                        }
                    }

                    &[data-step="3"],
                    &[data-step="4"] {
                        .next {
                            display: none;
                        }

                        input[type="submit"] {
                            display: block;
                        }
                    }

                    ul {
                        display: flex;
                        justify-content: space-between;

                        li {
                            a {
                                &.prev {
                                    height: 35px;
                                    line-height: 35px;
                                }

                                &.next {
                                    display: block;
                                }
                            }

                            a.next,
                            input[type="submit"] {
                                width: 140px;
                                height: 35px;
                                line-height: 35px;
                                color: white;
                                background-color: $cor-cta;
                                border-bottom: 2px solid green;
                                text-align: center;
                                border-radius: 2px;
                                font-weight: bold;
                                cursor: pointer;
                            }

                            input[type="submit"] {
                                display: none;

                                &.loading {
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        //CICLOS
        .content_2 {
            .head {
                .image {
                    text-align: center;
                }

                h2 {
                    text-align: center;
                    font-weight: normal;
                    margin-bottom: 60px;
                }
            }

            .content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .column {
                    width: 24%;
                    height: auto;
                    background-color: #fff;
                    padding: 10px;

                    .title {
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    ul {
                        li {
                            margin-bottom: 15px;

                            a {
                                display: flex;
                                align-items: center;

                                &.checked {
                                    span {
                                        filter: grayscale(0);

                                        i {
                                            left: 30px;
                                        }
                                    }
                                }

                                span {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    width: 50px;
                                    height: 21px;
                                    border-radius: 50px;
                                    background-color: #eeeeee;
                                    padding: 0 5px;
                                    margin-right: 10px;
                                    filter: grayscale(1);
                                    transition: all 300ms;

                                    i {
                                        display: block;
                                        width: 17px;
                                        height: 17px;
                                        background-color: #00a574;
                                        border-radius: 50px;
                                        position: absolute;
                                        left: 3px;
                                        transition: left 300ms;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;

                .column {
                    ul {
                        display: flex;

                        li {
                            margin-right: 25px;

                            a {
                                display: flex;
                                align-items: center;

                                &.editar_escola {
                                    &:before {
                                        content: '';
                                        display: inline-block;
                                        margin-right: 6px;
                                        width: 15px;
                                        height: 15px;
                                        background-size: 100%;
                                        background-image: url(/arquivos/ico-edit.jpg);
                                    }
                                }

                                &.desativar_escola {
                                    &:before {
                                        content: 'x';
                                        color: $cor-principal;
                                        margin-right: 6px;
                                    }
                                }

                                &.cadastrar_material {
                                    justify-content: center;
                                    width: 220px;
                                    height: 40px;
                                    line-height: 40px;
                                    background-color: white;
                                    border-radius: 3px;
                                    border: 1px solid green;
                                    color: green;
                                }

                                &.finish {
                                    justify-content: center;
                                    width: 150px;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: white;
                                    border-radius: 3px;
                                    background-color: $cor-cta;
                                    border-bottom: 2px solid green;
                                }
                            }
                        }
                    }
                }
            }
        }

        //EDITAR CADASTRO
        .content_3 {}

        //ESCOLAS CADASTRADAS
        .content_4 {
            h3 {
                margin: 50px 0;
                text-align: center;
                font-size: 30px;
                font-weight: 400;
            }

            form {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 30px 0;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 535px;
                    height: 42px;
                    border-radius: 3px;
                    border: 1px solid #dcdcdc;
                    box-shadow: 0 2px 0 1px #dcdcdc;
                    background-color: white;

                    input[type="text"] {
                        width: 85%;
                        height: 100%;
                        text-indent: 10%;
                        background-size: 20px;
                        background-position: 10px;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico-lupa.png);
                    }

                    input[type="submit"] {
                        width: 15%;
                        height: 50%;
                        cursor: pointer;
                        color: $cor-principal;
                        border-left: 1px solid #dcdcdc;
                        font-weight: bold;
                        background-color: transparent;
                    }
                }
            }

            .minhas_escolas {
                &:empty {
                    &:after {
                        content: 'Voc\00EA\00A0 n\00E3 o possui escolas cadastradas.';
                        text-align: center;
                        display: block;
                    }
                }

                li {
                    width: 100%;
                    height: 85px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: white;
                    margin-bottom: 20px;
                    padding: 0 20px;

                    @media screen and (max-width:$mobile) {
                        height: auto;
                        padding: 15px 0;
                        flex-direction: column;
                    }

                    .column_1 {
                        display: flex;
                        align-items: center;

                        @media screen and (max-width:$mobile) {
                            margin-bottom: 15px;
                        }

                        img {
                            width: 90px;
                            height: auto;
                            margin-right: 20px;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }

                    .column_2 {
                        display: flex;
                        align-items: center;

                        .btn {
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            font-weight: 300;

                            &:not(:last-child) {
                                margin-right: 25px;
                            }

                            img,
                            span {
                                margin-right: 7px;
                            }

                            &.ativar {
                                span {
                                    display: block;
                                    width: 15px;
                                    height: 13px;
                                    margin-top: -8px;
                                    transform: rotate(45deg);
                                    border-right: 2px solid green;
                                    border-bottom: 2px solid green;
                                }
                            }

                            &.desativar {
                                span {
                                    color: $cor-principal;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }

        //CADASTRAR MATERIAL - LISTA DE MATERIAIS
        .content_5 {
            >.head {
                h3 {
                    text-align: center;
                    font-size: 35px;
                    font-weight: normal;
                    margin: 30px 0;
                }

                ul {
                    display: flex;
                    justify-content: space-between;

                    @media screen and (max-width:$mobile) {
                        flex-direction: column;
                    }

                    li {
                        display: flex;
                        align-items: center;

                        @media screen and (max-width:$mobile) {
                            flex-direction: column;
                        }

                        &.logo_escola {
                            @media screen and (max-width:$mobile) {
                                padding-bottom: 15px;
                            }

                            >img {
                                width: 130px;
                                height: auto;
                            }
                        }

                        p {
                            font-weight: 300;
                        }

                        form {
                            width: 300px;
                            height: 40px;
                            border-radius: 3px;
                            margin: 0 15px;
                            background-color: white;
                            box-shadow: 0px 1px 1px 1px #dcdcdc;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                margin-bottom: 15px;
                            }

                            fieldset {
                                input {
                                    float: left;
                                }

                                input[type="text"] {
                                    width: 100%;
                                    height: 40px;
                                    text-indent: 10px;
                                    background-size: 20px;
                                    background-position: 95%;
                                    background-repeat: no-repeat;
                                    background-image: url(/arquivos/ico-lupa.png);
                                }
                            }
                        }

                        .concluido {
                            width: 150px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 400;
                            color: white;
                            border-radius: 3px;
                            background-color: $cor-cta;
                            border-bottom: 2px solid green;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }

                            &.disabled {
                                font-size: 0;
                                opacity: 0.6;
                                pointer-events: none;

                                &:after {
                                    content: 'Aguarde...';
                                    pointer-events: none;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            >.content {
                padding: 40px 0;

                >ul {
                    &:not(.list_livros) {
                        height: 980px;
                        overflow: hidden;
                    }

                    &.list_livros {
                        &:before {
                            content: 'Livros';
                            font-size: 35px;
                            font-weight: 400;
                            display: block;
                            margin: 40px 0;
                            text-align: center;
                        }
                    }

                    &.active {
                        height: auto;
                    }

                    &:empty {
                        height: 300px;
                        background-size: 80px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ajax-loader.gif);
                    }

                    >li {
                        margin-bottom: 15px;
                        background-color: #fff;
                        box-shadow: 0px 1px 1px 1px #dcdcdc;

                        &[data-ativo="false"] {
                            span[data-function="checkbox"] {
                                background-size: 0 !important;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .head {
                            height: 60px;
                            padding: 0 25px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            @media screen and (max-width:$mobile) {
                                height: auto;
                                padding-bottom: 15px;
                                flex-direction: column;
                            }

                            .column {

                                @media screen and (max-width:$mobile) {
                                    width: 100% !important;
                                    margin-top: 15px;
                                }

                                //NAME
                                &.column_1 {
                                    width: 30%;
                                    display: flex;
                                    align-items: center;
                                }

                                //EXIBIR
                                &.column_2 {
                                    width: 30%;

                                    @media screen and (max-width:$mobile) {
                                        display: none;
                                    }
                                }

                                //CICLO
                                &.column_3 {
                                    width: 22%;

                                    @media screen and (max-width:$mobile) {
                                        display: none;
                                    }
                                }

                                //EDITAR
                                &.column_4 {
                                    width: 18%;
                                    display: flex;
                                    justify-content: space-between;

                                    a {
                                        display: flex;
                                        align-items: center;
                                        font-size: 16px;

                                        &.edit {
                                            color: $cor-cta;
                                            font-weight: 400;

                                            &:before {
                                                content: '';
                                                width: 15px;
                                                height: 15px;
                                                display: inline-block;
                                                margin-right: 6px;
                                                background-size: 100%;
                                                background-image: url(/arquivos/ico-edit.jpg);
                                            }
                                        }

                                        &.exibir {
                                            font-weight: 400;

                                            &.active {
                                                &:before {
                                                    content: '-';
                                                }
                                            }

                                            &:before {
                                                content: '+';
                                                font-size: 23px;
                                                margin-right: 6px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .list {
                            display: none;
                            position: relative;
                            padding: 15px;

                            &[data-quantidade="0"] {
                                .arrow {
                                    display: none;
                                }
                            }

                            &[data-quantidade="0"] {
                                .add_all {
                                    display: none;
                                }
                            }

                            .arrow {
                                width: 40px;
                                height: 40px;
                                display: block;
                                cursor: pointer;
                                border-radius: 50px;
                                background-color: #fff;
                                box-shadow: 0px 0px 6px 0px #c7c7c7;
                                position: absolute;
                                top: 40%;
                                margin-top: -20px;
                                z-index: 1;

                                &:after {
                                    content: '';
                                    display: inline-block;
                                    width: 14px;
                                    height: 14px;
                                    border-right: 3px solid gray;
                                    border-bottom: 3px solid gray;
                                }

                                &.prev {
                                    left: 5px;

                                    &:after {
                                        transform: rotate(135deg);
                                        margin-right: -3px;
                                        margin-bottom: -3px;
                                    }
                                }

                                &.next {
                                    right: 5px;

                                    &:after {
                                        transform: rotate(-45deg);
                                        margin-left: -3px;
                                        margin-bottom: -3px;
                                    }
                                }
                            }

                            ul {
                                display: flex;
                                flex-wrap: nowrap;
                                overflow-x: auto;

                                &::-webkit-scrollbar {
                                    display: none;
                                }

                                &:empty {
                                    padding: 0;
                                    height: 100px;
                                    background-size: 80px;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url(/arquivos/ajax-loader.gif);
                                }

                                //MENSAGEM SEM ESTOQUE
                                .no-estoque {
                                    width: 100%;
                                    display: block;
                                    text-align: center;
                                }

                                li {
                                    width: 200px;
                                    height: auto;
                                    padding: 10px;
                                    margin-right: 15px;
                                    flex: 0 0 auto;
                                    border: 1px solid #dcdcdc;
                                    position: relative;

                                    &:last-child {
                                        margin-right: 0;
                                    }

                                    span[data-function="list"] {
                                        position: absolute;
                                        top: 10px;
                                        right: 10px;
                                        margin: 0;
                                    }

                                    figure {
                                        cursor: pointer;

                                        img {
                                            width: 100%;
                                            height: auto;
                                        }
                                    }

                                    .name {
                                        height: 70px;
                                        font-size: 13px;
                                        font-weight: 400;
                                        margin-bottom: 10px;
                                        border-bottom: 1px solid #dcdcdc;
                                    }

                                    .prices {
                                        .de {}

                                        .por {}
                                    }
                                }
                            }

                            //ADICIONAR TODOS OS PRODUTOS
                            .add_all {
                                width: 220px;
                                height: 40px;
                                display: block;
                                line-height: 40px;
                                margin-top: 10px;
                                color: white;
                                border-radius: 4px;
                                text-align: center;
                                text-transform: uppercase;
                                background-color: $cor-cta;
                            }
                        }
                    }
                }

                .more {
                    width: 180px;
                    height: 45px;
                    display: block;
                    margin: 30px auto 0;
                    line-height: 45px;
                    color: $cor-cta;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 2px;
                    text-align: center;
                    text-transform: uppercase;
                    border: 2px solid $cor-cta;
                }
            }

            >.footer {
                text-align: right;

                a {
                    display: inline-block;
                    width: 150px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: white;
                    border-radius: 3px;
                    background-color: $cor-cta;
                    border-bottom: 2px solid green;

                    &.disabled {
                        font-size: 0;
                        opacity: 0.6;
                        pointer-events: none;

                        &:after {
                            content: 'Aguarde...';
                            pointer-events: none;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    &.aluno {
        main {
            .steps {
                width: 100%;
                max-width: 350px;
                margin: 60px auto 30px;
                display: flex;
                justify-content: space-evenly;

                li {
                    a {
                        font-size: 16px;
                        font-weight: 300;
                        pointer-events: none;

                        &:after {
                            content: '';
                            display: block;
                            width: calc(100% + 20px);
                            height: 2px;
                            margin-left: -10px;
                            background-color: #bbbbbb;
                            margin-top: 5px;
                            border-radius: 3px;
                        }

                        &.active {
                            color: $cor-cta;

                            &:after {
                                height: 4px;
                                margin-top: 1px;
                                background-color: $cor-cta;
                            }
                        }
                    }
                }
            }

            h2 {
                font-size: 25px;
                font-weight: 300;
                text-align: center;
            }

            form {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 30px 0;

                select {
                    width: auto;
                    height: 42px;
                    border-radius: 3px;
                    margin-right: 15px;
                    text-align: center;
                    text-align-last: center;
                    background-color: white;
                    border: 1px solid #dcdcdc;
                    box-shadow: 0 2px 0 1px #dcdcdc;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }

                p {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 535px;
                    height: 42px;
                    border-radius: 3px;
                    border: 1px solid #dcdcdc;
                    box-shadow: 0 2px 0 1px #dcdcdc;
                    background-color: white;

                    input[type="text"] {
                        width: 85%;
                        height: 100%;
                        text-indent: 40px;
                        background-size: 20px;
                        background-position: 10px;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/ico-lupa.png);

                        @media screen and (max-width:$mobile) {
                            width: 70%;
                        }
                    }

                    input[type="submit"] {
                        width: 15%;
                        height: 50%;
                        cursor: pointer;
                        color: $cor-principal;
                        border-left: 1px solid #dcdcdc;
                        font-weight: bold;
                        background-color: transparent;

                        @media screen and (max-width:$mobile) {
                            width: 30%;
                        }

                        &[value="aguarde..."] {
                            opacity: 0.3;
                            pointer-events: none;
                        }
                    }
                }
            }

            section {
                display: none;

                &.active {
                    display: block;
                }

                &[data-step="1"] {
                    display: block;

                    >ul {
                        display: flex;
                        flex-wrap: wrap;
                        
                        @media screen and (max-width:$mobile) {
                            justify-content: space-between;
                        }

                        li {
                            cursor: pointer;
                            margin-bottom: 30px;

                            @media screen and (min-width:$mobile) {
                                width: calc(100% / 4);
                            }

                            @media screen and (max-width:$mobile) {
                                width: 49%;
                            }

                            figure {
                                width: 100%;
                                height: 150px;
                                max-width: 220px;
                                border-radius: 3px;
                                margin: 0 auto 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: white;
                                border: 1px solid #dcdcdc;

                                img {
                                    width: 80%;
                                    height: auto;
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }

                            .text {
                                margin: 0 auto;
                                max-width: 220px;
                                
                                p {
                                    font-weight: 300;
                                    line-height: 15px;

                                    &:not(:last-child) {
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }

                &[data-step="2"] {
                    article {
                        text-align: center;

                        figure {
                            max-width: 150px;
                            max-height: 150px;
                            display: inline-block;
                            margin: 0 auto 30px;
                            border-radius: 3px;
                            border: 1px solid #dcdcdc;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 80%;
                                height: auto;
                            }
                        }

                        p {
                            &.nome_escola {
                                font-size: 16px;
                                font-weight: bold;
                                margin-bottom: 10px;
                            }

                            &.descricao_escola {
                                font-weight: 400;
                            }
                        }

                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin: 40px 0;

                            li {
                                width: 180px;
                                height: 100px;
                                font-weight: 300;
                                transition: all .3s;
                                margin: 0 10px;
                                background-color: white;
                                border: 1px solid #dcdcdc;
                                cursor: pointer;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                    margin-bottom: 10px;
                                }

                                p {
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                &.available {
                                    display: flex;
                                }

                                &:hover,
                                &.active {
                                    color: $cor-cta;
                                    border-color: $cor-cta;
                                }
                            }
                        }
                    }
                }

                &[data-step="3"] {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin: 40px 0;

                        li {
                            height: 40px;
                            line-height: 39px;
                            background-color: white;
                            padding: 0 10px;
                            margin: 0 15px;
                            font-weight: 300;
                            width: auto;
                            border: 1px solid #dcdcdc;
                            border-radius: 3px;
                            transition: all 300ms;
                            cursor: pointer;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                text-align: center;
                                margin-bottom: 10px;
                            }

                            &:hover,
                            &.active {
                                color: $cor-cta;
                                border-color: $cor-cta;
                            }
                        }
                    }
                }

                &[data-step="4"] {
                    .columns {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        >.column {
                            &.column_1 {
                                width: 72%;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                }

                                >.head {
                                    width: 97%;
                                    margin-bottom: 15px;

                                    ul {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        @media screen and (max-width:$mobile) {
                                            flex-direction: column;
                                        }

                                        li {
                                            @media screen and (max-width:$mobile) {
                                                width: 100%;
                                                margin-bottom: 10px;
                                            }

                                            #btn_link_pdf {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                height: 40px;
                                                padding: 0 15px;
                                                line-height: 40px;
                                                margin-right: 15px;
                                                border-radius: 3px;
                                                color: $cor-principal;
                                                border: 1px solid $cor-principal;

                                                @media screen and (max-width:$mobile) {
                                                    margin: 0;
                                                    width: 100%;
                                                    text-align: center;
                                                    margin-bottom: 15px;
                                                }

                                                &[href=""],
                                                &[href="#"] {
                                                    display: none;
                                                }

                                                i {
                                                    width: 30px;
                                                    height: 30px;
                                                    margin-right: 7px;

                                                    svg {
                                                        fill: $cor-principal;
                                                    }
                                                }
                                            }

                                            #add_all {
                                                span {
                                                    height: 40px;
                                                    padding: 0 15px;
                                                    color: $cor-cta;
                                                    text-align: center;
                                                    line-height: 40px;
                                                    margin-right: 15px;
                                                    border-radius: 3px;
                                                    display: inline-block;
                                                    border: 1px solid $cor-cta;

                                                    @media screen and (max-width:$mobile) {
                                                        width: 100%;
                                                    }
                                                }

                                                i {
                                                    display: block;
                                                    margin-top: 2px;
                                                    font-size: 12px;
                                                    color: gray;

                                                    @media screen and (min-width:$mobile) {
                                                        height: 0;
                                                    }
                                                }
                                            }

                                            input {
                                                width: 300px;
                                                height: 40px;
                                                text-indent: 10px;
                                                border-radius: 3px;
                                                background-color: #fff;
                                                background-size: 20px;
                                                background-position: 95%;
                                                background-repeat: no-repeat;
                                                box-shadow: 0 1px 1px 1px #dcdcdc;
                                                background-image: url(/arquivos/ico-lupa.png);

                                                @media screen and (max-width:$mobile) {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }

                                >.content {
                                    .ordenacao {
                                        display: flex;
                                        align-items: center;
                                        padding-top: 25px;

                                        @media screen and (max-width:$mobile) {
                                            flex-direction: column;
                                        }

                                        p {
                                            margin-right: 20px;

                                            @media screen and (max-width:$mobile) {
                                                margin-bottom: 10px;
                                            }
                                        }

                                        ul {
                                            display: flex;

                                            li {
                                                &:not(:last-child) {
                                                    margin-right: 20px;
                                                }

                                                a {
                                                    width: auto;
                                                    height: 38px;
                                                    display: block;
                                                    padding: 0 15px;
                                                    line-height: 36px;
                                                    border-radius: 3px;
                                                    transition: all 300ms;
                                                    border: 1px solid $cor-secundaria;

                                                    @media screen and (max-width:$iphone5) {
                                                        font-size: 12px;
                                                    }

                                                    &:hover,
                                                    &.active {
                                                        background-color: $cor-secundaria;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    #products {
                                        margin: 25px 0;

                                        //LIVROS
                                        &.list_livros {
                                            &:empty {
                                                display: none;
                                            }

                                            &:before {
                                                content: 'Livros';
                                                font-size: 35px;
                                                font-weight: 400;
                                                display: block;
                                                margin: 40px 0;
                                                text-align: center;
                                            }
                                        }

                                        >li {
                                            width: 97%;
                                            height: auto;
                                            padding: 0 10px;
                                            margin-bottom: 10px;
                                            border: 1px solid #dcdcdc;
                                            box-shadow: 0 2px 0 1px #dcdcdc;
                                            background-color: white;

                                            &.ignore {
                                                >.list {
                                                    pointer-events: none;
                                                    filter: grayscale(1);
                                                    -ms-filter: grayscale(1);
                                                    -webkit-filter: grayscale(1);
                                                }
                                            }

                                            >.head {
                                                height: 40px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;

                                                @media screen and (max-width:$mobile) {
                                                    height: auto;
                                                    flex-direction: column;
                                                    padding-bottom: 15px;
                                                }

                                                .column {
                                                    @media screen and (max-width:$mobile) {
                                                        width: 100% !important;
                                                        margin-top: 15px;
                                                    }

                                                    &.column_1 {
                                                        width: 30%;

                                                        a {
                                                            font-size: 16px;
                                                            font-weight: 300;

                                                            &.active {
                                                                span {
                                                                    &:after {
                                                                        content: '-';
                                                                    }
                                                                }
                                                            }

                                                            span {
                                                                &:after {
                                                                    content: '+';
                                                                    font-size: 14px;
                                                                    color: $cor-principal;
                                                                    font-weight: bold;
                                                                }
                                                            }
                                                        }
                                                    }

                                                    &.column_2 {
                                                        width: 30%;

                                                        p {
                                                            font-size: 12px;
                                                            font-weight: 300;
                                                            color: #a2a2a2;
                                                        }
                                                    }

                                                    //PRODUTO ADICIONADO
                                                    &.column_3 {
                                                        width: 20%;

                                                        @media screen and (max-width:$mobile) {
                                                            display: none;
                                                        }

                                                        p {
                                                            opacity: 0;
                                                        }
                                                    }

                                                    &.column_4 {
                                                        width: 15%;

                                                        a {
                                                            display: flex;
                                                            align-items: center;
                                                            font-weight: 300;

                                                            &.active {
                                                                span {
                                                                    background-size: 90%;
                                                                }
                                                            }

                                                            span {
                                                                width: 20px;
                                                                height: 20px;
                                                                border-radius: 3px;
                                                                margin-right: 10px;
                                                                display: inline-block;
                                                                border: 1px solid $cor-principal;
                                                                background-size: 0;
                                                                background-position: center;
                                                                background-repeat: no-repeat;
                                                                background-image: url(/arquivos/ico-checked.png);
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            >.list {
                                                display: none;
                                                padding: 15px;
                                                position: relative;
                                                transition: filter 300ms;

                                                &[data-quantidade="0"] {
                                                    .arrow {
                                                        display: none;
                                                    }
                                                }

                                                &[data-quantidade="0"] {
                                                    .add_all {
                                                        display: none;
                                                    }
                                                }

                                                .arrow {
                                                    width: 40px;
                                                    height: 40px;
                                                    cursor: pointer;
                                                    display: block;
                                                    border-radius: 50px;
                                                    background-color: #fff;
                                                    box-shadow: 0px 0px 6px 0px #c7c7c7;
                                                    position: absolute;
                                                    top: 40%;
                                                    margin-top: -20px;
                                                    z-index: 1;

                                                    &:after {
                                                        content: '';
                                                        display: inline-block;
                                                        width: 14px;
                                                        height: 14px;
                                                        border-right: 3px solid gray;
                                                        border-bottom: 3px solid gray;
                                                    }

                                                    &.prev {
                                                        left: 5px;

                                                        &:after {
                                                            transform: rotate(135deg);
                                                            margin-right: -3px;
                                                            margin-bottom: -3px;
                                                        }
                                                    }

                                                    &.next {
                                                        right: 5px;

                                                        &:after {
                                                            transform: rotate(-45deg);
                                                            margin-left: -3px;
                                                            margin-bottom: -3px;
                                                        }
                                                    }
                                                }

                                                /* width */
                                                ::-webkit-scrollbar {
                                                    width: 10px;
                                                    height: 10px;
                                                }

                                                /* Track */
                                                ::-webkit-scrollbar-track {
                                                    border-radius: 50px;
                                                    background-color: #e4e4e4;
                                                }

                                                /* Handle */
                                                ::-webkit-scrollbar-thumb {
                                                    background-color: $cor-principal;
                                                    border-radius: 50px;
                                                }

                                                ul {
                                                    display: flex;
                                                    flex-wrap: nowrap;
                                                    overflow-x: auto;
                                                    -webkit-overflow-scrolling: touch;
                                                    -ms-overflow-style: -ms-autohiding-scrollbar;

                                                    &::-webkit-scrollbar {
                                                        display: none;
                                                    }

                                                    li {
                                                        width: 24%;
                                                        flex: 0 0 auto;
                                                        padding: 10px;
                                                        margin-right: 10px;
                                                        border: 1px solid #dcdcdc;

                                                        @media screen and (max-width:$mobile) {
                                                            width: 50%;
                                                        }

                                                        figure {
                                                            cursor: pointer;

                                                            img {
                                                                width: 100%;
                                                                height: auto;
                                                            }
                                                        }

                                                        .name {
                                                            height: 70px;
                                                            margin-bottom: 10px;
                                                            padding-bottom: 10px;
                                                            font-size: 12px;
                                                            font-weight: 300;
                                                            line-height: 13px;
                                                            border-bottom: 1px solid #dcdcdc;
                                                        }

                                                        .price {
                                                            margin-bottom: 10px;

                                                            .de {
                                                                font-weight: 300;
                                                                font-size: 12px;
                                                                text-decoration: line-through;
                                                                color: #b6b6b6;
                                                            }

                                                            .por {
                                                                font-size: 16px;
                                                                font-weight: bold;
                                                            }
                                                        }

                                                        .btn {
                                                            display: none;
                                                            width: 100%;
                                                            height: 30px;
                                                            line-height: 30px;
                                                            border-radius: 3px;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            color: white;
                                                            text-transform: uppercase;

                                                            &.active {
                                                                display: block;
                                                            }

                                                            &.buy {
                                                                background-color: $cor-cta;
                                                            }

                                                            &.remove {
                                                                background-color: $cor-principal;
                                                            }
                                                        }
                                                    }

                                                    &:empty {
                                                        width: 100%;
                                                        height: 100px;
                                                        background-size: 80px;
                                                        background-position: center;
                                                        background-repeat: no-repeat;
                                                        background-image: url(/arquivos/ajax-loader.gif);
                                                    }
                                                }
                                            }

                                            >.message {
                                                display: block;
                                                color: gray;
                                                font-size: 12px;
                                                font-style: italic;
                                                padding-bottom: 10px;

                                                &:empty {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.column_2 {
                                width: 28%;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                }

                                #remove_all {
                                    display: block;
                                    width: 100%;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    color: $cor-principal;
                                    border: 1px solid $cor-principal;
                                    border-radius: 3px;
                                    margin-bottom: 25px;
                                }

                                .carrinho_lateral {
                                    width: 100%;
                                    height: auto;

                                    /* width */
                                    ::-webkit-scrollbar {
                                        width: 10px;
                                        height: 10px;
                                    }

                                    /* Track */
                                    ::-webkit-scrollbar-track {
                                        border-radius: 50px;
                                        background-color: #e4e4e4;
                                    }

                                    /* Handle */
                                    ::-webkit-scrollbar-thumb {
                                        background-color: $cor-cta;
                                        border-radius: 50px;
                                    }

                                    .head {
                                        width: 100%;
                                        height: 45px;
                                        background-color: #b91e2c;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        p {
                                            font-weight: 400;
                                            color: white;
                                        }
                                    }

                                    >.column {
                                        max-height: 500px;
                                        overflow-x: hidden;

                                        ul {
                                            li {
                                                position: relative;
                                                display: flex;
                                                flex-wrap: wrap;
                                                background-color: white;
                                                padding: 10px 5px 5px 5px;

                                                .column_1 {
                                                    width: 30%;
                                                    padding: 0 5px;

                                                    img {
                                                        width: 100%;
                                                        height: auto;
                                                    }
                                                }

                                                .column_2 {
                                                    width: 70%;

                                                    .name {
                                                        padding-right: 20px;

                                                        p {
                                                            font-size: 12px;
                                                            font-weight: 400;
                                                            line-height: 13px;
                                                        }
                                                    }

                                                    .ft {
                                                        margin-top: 10px;

                                                        ul {
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: space-between;

                                                            li {
                                                                width: 50%;

                                                                .box-count {
                                                                    width: 100%;
                                                                    height: 30px;
                                                                    display: flex;
                                                                    align-items: center;
                                                                    justify-content: space-between;
                                                                    background-color: #f8f8f8;
                                                                    border-radius: 3px;

                                                                    a {
                                                                        width: 25%;
                                                                        height: 100%;
                                                                        font-size: 18px;
                                                                        line-height: 30px;
                                                                        text-align: center;
                                                                        font-weight: bold;
                                                                        color: $cor-cta;
                                                                    }

                                                                    input {
                                                                        width: 50%;
                                                                        height: 100%;
                                                                        text-align: center;
                                                                        background-color: transparent;
                                                                    }
                                                                }

                                                                &.price {
                                                                    p {
                                                                        font-weight: bold;
                                                                        text-align: right;
                                                                        width: 100%;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .removeUni {
                                                    position: absolute;
                                                    top: 5px;
                                                    right: 5px;
                                                    color: $cor-principal;
                                                    cursor: pointer;

                                                    @media screen and (max-width:$mobile) {
                                                        font-size: 24px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .footer {
                                        padding: 20px;
                                        background-color: #dcdcdc;

                                        ul {
                                            li {
                                                display: flex;
                                                justify-content: space-between;
                                                margin: 10px 0;

                                                &.total {
                                                    span {
                                                        font-weight: bold;
                                                    }
                                                }
                                            }
                                        }

                                        .finish {
                                            height: 40px;
                                            display: block;
                                            line-height: 40px;
                                            text-align: center;
                                            border-radius: 3px;
                                            text-transform: uppercase;
                                            color: white;
                                            background-color: $cor-cta;
                                            border-bottom: 2px solid green;
                                            margin-top: 30px;

                                            &.disabeld {
                                                opacity: 0.5;
                                                pointer-events: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .return {
                    padding: 30px 0;
                    text-align: center;

                    a {
                        width: 110px;
                        height: 40px;
                        display: inline-block;
                        line-height: 40px;
                        background-color: #af2b2b;
                        border-radius: 4px;
                        color: white;
                    }
                }
            }
        }
    }
}