.lista-de-casamento,
.create,
.manage,
.giftlisthome {
    main {
        font-family: 'Montserrat', sans-serif;
    }
}

/*BUSCAR LISTA*/
/*LISTA DE CASAMENTO*/
.giftlisthome,
.lista-de-casamento {
    main {
        .banner {
            height: 600px;
            padding-top: 50px;
            background-position: -200px;
            background-image: url(/arquivos/banner_casamento.jpg);

            h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                font-weight: 400;

                i {
                    margin-right: 10px;

                    svg {
                        width: 55px;
                        height: 55px;
                    }
                }
            }

            .description {
                display: block;
                max-width: 80%;
                margin: 40px auto;
                text-align: center;
            }

            ul.nav.nav-list.bs-docs-sidenav.giftlist-sidenav {
                display: flex;
                justify-content: space-evenly;

                li {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 270px;
                        height: 160px;
                        border-radius: 4px;
                        background-color: #fff;
                        border: 3px solid $cor-cta;
                        transition: background-color 300ms;
                        font-size: 18px;
                        font-weight: 400;

                        &:hover {
                            color: #fff;
                            background-color: $cor-cta;
                        }
                    }
                }
            }
        }

        #collections {
            padding-bottom: 100px;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-image: url(/arquivos/image_girl_casamento.jpg);

            @media screen and (max-width:$mobile) {
                padding-bottom: 300px;
            }

            .glsearch-title {
                font-size: 0;
                margin: 40px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &:after {
                    content: 'Sou convidado';
                    font-size: 1.5rem;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 48px;
                    height: 48px;
                    background-image: url(/arquivos/ico_convidado.png);
                    background-repeat: no-repeat;
                    margin-right: 10px;
                }
            }

            #giftlistsearchform {
                ul {
                    display: flex;
                    flex-wrap: wrap;

                    &.giftlistsearchul {
                        li {
                            width: 25%;
                            margin-bottom: 40px;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }

                            span {
                                label {
                                    font-weight: 300;
                                    padding-left: 10px;
                                    padding-bottom: 10px;
                                    text-transform: lowercase;

                                    &:before {
                                        content: 'Busque por: ';
                                        text-transform: capitalize;
                                    }
                                }
                            }

                            select,
                            input:not([type="button"]) {
                                width: 90%;
                                height: 40px;
                                text-indent: 15px;
                                border: 1px solid #dcdcdc;
                                box-shadow: 0 2px 0 1px #dcdcdc;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                }
                            }

                            &.glsearch-find {
                                width: 100%;

                                span {
                                    input {
                                        width: 200px;
                                        height: 40px;
                                        cursor: pointer;
                                        color: white;
                                        font-size: 18px;
                                        font-weight: bold;
                                        border-radius: 4px;
                                        background-color: $cor-cta;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .glsearch-result {
                ul {
                    li {
                        &.giftlist-searchresult-empty {
                            line-height: 23px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.giftlisthome {
    .banner {
        display: none;
    }
}

/*CRIAR LISTA*/
.create {
    .titulo-sessao {
        margin: 40px 0;
        text-align: center;
    }

    #giftlistformwrapper {
        @media screen and (min-width:$mobile) {
            max-width: 75%;
            margin: 0 auto;
        }

        #giftlistform {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;

            span {

                &.obr,
                &[name="giftlisturl-obr"] {
                    display: none;
                }
            }

            ul {
                li {
                    margin-bottom: 20px;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }

                    label {
                        font-weight: 300;
                        padding-bottom: 5px;
                    }

                    span {
                        &[name="giftlisturl-site"] {
                            display: block;
                            margin-bottom: 5px;
                        }

                        &#visibility-wrapper {
                            br {
                                display: none;
                            }
                        }
                    }

                    #giftlistimageload {
                        width: 150px;
                        height: auto;
                        margin: 0 auto;
                        display: block;
                    }

                    select,
                    input:not([type="radio"]) {
                        width: 100%;
                        height: 40px;
                        border: 1px solid #dcdcdc;
                        border-radius: 3px;
                        text-indent: 15px;

                        &[name="giftlistupload"] {
                            color: white;
                            cursor: pointer;
                            margin-top: 10px;
                            font-weight: bold;
                            background-color: $cor-cta;
                        }
                    }

                    input[type="radio"] {
                        float: left;
                        bottom: -3px;
                        margin-right: 8px;
                        position: relative;
                    }
                }
            }

            .basic {
                width: 50%;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                }
            }

            .image {
                width: 50%;
                padding-left: 10%;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    padding-left: 0;
                }

                #giftlistmessage {
                    width: 100%;
                    padding: 5px;
                    resize: none;
                    height: 100px;
                    border-radius: 3px;
                    border: 1px solid #dcdcdc;
                }
            }

            .members-box {
                .gl-members {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    >li {
                        @media screen and (min-width:$mobile) {
                            width: 48%;
                        }
                    }
                }
            }

            .event {
                .giftlistul {
                    @media screen and (min-width:$mobile) {
                        width: 48%;
                    }
                }
            }

            .event,
            .members-box,
            .therms-area,
            .action-area {
                width: 100%;
                margin-top: 50px;

                h2 {
                    margin-bottom: 20px;
                }

                #therms-accept {
                    margin-top: 10px;

                    label {
                        @media screen and (max-width:$mobile) {
                            font-size: 11px;
                        }
                    }

                    input[type="checkbox"] {
                        float: left;
                        bottom: -2px;
                        position: relative;
                        margin-right: 10px;
                    }
                }

                .eventdate-range,
                .member-range {
                    display: flex;
                    margin-bottom: 20px;

                    label {
                        margin: 0 5px;
                    }
                }
            }

            .action-area {
                .form-action {
                    display: flex;
                    justify-content: flex-end;

                    li {
                        input {
                            &[type="button"] {
                                width: 150px;
                                cursor: pointer;
                                font-weight: bold;
                                text-indent: 0;

                                &#giftlistv2cancel {
                                    border: none;
                                    margin-right: 10px;
                                    background-color: transparent;
                                }

                                &#giftlistv2save {
                                    color: #fff;
                                    background-color: $cor-cta;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*GERENCIAR LISTAS*/
.manage {
    main {
        .titulo-sessao {
            margin: 40px 0;
            text-align: center;
        }

        a {
            &[href="/giftlist/create"] {
                width: 220px;
                height: 40px;
                display: block;
                line-height: 40px;
                text-align: center;
                border-radius: 3px;
                color: #fff;
                background-color: $cor-cta;
            }
        }

        .giftlistmanager {
            .glmanager-type {
                >h2 {
                    margin: 30px 0;
                    text-align: center;
                }

                .giftlist-table {
                    width: 100%;

                    td {
                        text-align: center;

                        &.giftlist-body-action {
                            ul {
                                display: flex;
                                justify-content: center;

                                li {
                                    &:not(:last-child) {
                                        margin-right: 15px;
                                    }

                                    a {
                                        color: $cor-principal;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*PRODUTOS EM SUA LISTA*/
.giftlist.product {
    .titulo-sessao {
        margin: 40px 0;
        text-align: center;
    }

    .giftlist.giftlistinfo.giftlisttype-3 {
        position: relative;
        margin-bottom: 30px;
        background-color: #fff;
        padding: 15px 15px 15px 250px;

        @media screen and (max-width:$mobile) {
            padding-left: 15px;
        }

        .giftlistinfo-image {
            width: 100%;
            max-width: 200px;
            margin-bottom: 20px;

            @media screen and (min-width:$mobile) {
                position: absolute;
                top: 0;
                left: 15px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .giftlistinfo-description {
            display: block;
            margin: 10px 0;
            font-weight: 300;
            padding-bottom: 10px;
        }

        .giftlistinfo-actions {
            ul {
                display: flex;
                align-items: center;

                li {
                    font-weight: bold;
                    margin-right: 20px;

                    &:not(.action-view) {
                        a {
                            color: $cor-principal;
                        }
                    }

                    &.action-view {
                        a {
                            color: $cor-cta;
                        }
                    }
                }
            }
        }

        .giftlistinfo-members {
            margin: 20px 0;

            .list-members {
                display: flex;
                flex-wrap: wrap;

                >li {
                    margin-right: 25px;

                    &.owner {
                        ul {
                            &.title {
                                margin-bottom: 5px;
                            }

                            .name,
                            .surname {
                                font-weight: bold;

                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .giftlistinfo-link {
            display: flex;
            align-items: center;
            margin-top: 20px;

            .link-title {
                font-weight: 300;
                margin-right: 15px;

                &:after {
                    content: ':';
                }
            }

            input {
                width: auto;
                height: 30px;
                color: gray;
                cursor: pointer;
                padding: 0 20px;
                line-height: 30px;
                background-color: #ececec;
            }
        }

        .giftlistinfo-event {
            display: flex;
            align-items: center;
            margin-top: 20px;

            span {
                margin-right: 15px;

                &:after {
                    content: ':';
                }
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    font-weight: 300;
                    margin-right: 10px;
                }
            }
        }
    }

    #giftliststatistics {
        display: none !important;
    }

    #giftlistproduct {
        table {
            width: 100%;
            height: auto;

            thead {
                input.checkuncheckall {
                    cursor: pointer;
                    position: relative;

                    &:checked {
                        &:after {
                            background-color: #dcdcdc;
                        }
                    }

                    &:after {
                        width: 13px;
                        height: 13px;
                        content: '';
                        z-index: 1;
                        display: block;
                        transition: all 300ms;
                        background-color: #fff;
                        border: 1px solid #dcdcdc;
                    }
                }
            }

            tbody {
                background-color: #fff;

                tr {
                    td {
                        font-weight: 300;
                        text-align: center;

                        &.checkuncheck {
                            input {
                                cursor: pointer;
                                position: relative;

                                &:checked {
                                    &:after {
                                        background-color: #dcdcdc;
                                    }
                                }

                                &:after {
                                    width: 13px;
                                    height: 13px;
                                    content: '';
                                    z-index: 1;
                                    display: block;
                                    transition: all 300ms;
                                    background-color: #fff;
                                    border: 1px solid #dcdcdc;
                                }
                            }
                        }

                        &.wished {
                            input {
                                font-weight: bold;
                                text-align: center;
                                display: inline-block;
                                background-color: #fff;
                            }

                            a.edit {
                                color: $cor-cta;

                                &:before {
                                    content: '';
                                    width: 14px;
                                    height: 14px;
                                    bottom: -3px;
                                    margin-right: 5px;
                                    position: relative;
                                    display: inline-block;
                                    background-size: 100%;
                                    background-image: url(/arquivos/ico-edit.jpg);
                                }
                            }
                        }

                        &.actions {
                            a.deletethissku {
                                color: red;

                                &:before {
                                    content: 'X';
                                    bottom: -2px;
                                    font-size: 18px;
                                    margin-right: 5px;
                                    position: relative;
                                }
                            }
                        }

                        &.image {
                            img {
                                max-width: 80px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        .ko-grid-pageLinks {
            margin: 20px 0;
        }

        .giftlist-remove-sku {
            text-align: right;

            button {
                width: 220px;
                height: 40px;
                color: white;
                line-height: 40px;
                font-weight: bold;
                border-radius: 4px;
                text-align: center;
                transition: opacity 300ms;
                background-color: $cor-cta;

                &[disabled="disabled"] {
                    opacity: 0.3;
                }
            }
        }
    }
}

/*EDITAR LISTA*/
.giftlist.edit {
    h2 {
        margin: 30px 0;
    }

    #giftlistform {
        .obr {
            display: none;
        }

        select,
        input[type="text"] {
            width: 250px;
            height: 40px;
            text-indent: 15px;
            margin: 5px 0 15px 0;
            border: 1px solid #dcdcdc;
            box-shadow: 0 2px 0 1px #dcdcdc;

            @media screen and (max-width:$mobile) {
                width: 100%;
            }
        }

        .basic {
            .giftlistul {
                li {
                    &.giftlisttype {
                        margin: 30px 0;

                        label[for="giftlisttype"] {
                            margin-bottom: 10px;

                            &:after {
                                content: ':';
                            }
                        }
                    }

                    &.visibility {
                        label[for="visibility-wrapper"] {
                            margin-bottom: 10px;
                        }

                        input[name="giftlistispublic"] {
                            position: relative;
                            bottom: -3px;
                            margin-bottom: -2px;
                            margin-right: 8px;
                            float: left;
                        }
                    }

                }
            }
        }

        .image {
            margin-top: 30px;

            .giftlistul {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                li {
                    height: auto;

                    &#giftlistimageview {
                        width: 30%;

                        @media screen and (min-width:$mobile) {
                            padding-right: 30px;
                        }

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }

                        label[for="giftlistimageload"] {
                            display: none;
                        }

                        #hasimagewrapper {
                            width: 100%;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        #giftlistremoveimage {
                            width: 100%;
                            height: 40px;
                            color: #fff;
                            cursor: pointer;
                            margin-top: 10px;
                            font-weight: bold;
                            line-height: 40px;
                            text-align: center;
                            border-radius: 4px;
                            background-color: $cor-principal;
                        }
                    }

                    &.giftlistmessage {
                        width: 70%;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }

                        textarea {
                            padding: 15px;
                            width: 100%;
                            height: 250px;
                        }
                    }
                }
            }
        }

        .event {
            .eventdate-range {
                display: none;
            }

            .giftlistul {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    &.giftlisteventcity {
                        @media screen and (min-width:$mobile) {
                            width: 525px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            flex-direction: column;
                        }

                        label {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }


    #members-box {
        .member-range {
            display: none;
        }

        .giftlistul {
            @media screen and (min-width:$mobile) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .action-area {
        margin-top: 30px;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;


            li {
                .button.giftlistv2cancel {
                    cursor: pointer;
                    font-weight: bold;
                    color: $cor-principal;
                    background-color: transparent;
                }

                .button.giftlistv2save {
                    width: 200px;
                    height: 40px;
                    cursor: pointer;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    border-radius: 4px;
                    background-color: #35a376;
                    margin: 0 auto;
                }
            }
        }
    }
}