.lista-acesso-cadastro {
    main {
        h1 {
            font-size: 30px;
            font-weight: 400;
            text-align: center;
            margin: 60px 0;

            & + ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 100px;
    
                li {
                    width: 300px;
                    height: 200px;
                    border-bottom: 4px solid $cor-cta;
                    background-color: #fff;
                    border-radius: 3px;
    
                    @media screen and (min-width:$mobile) {
                        margin-right: 60px;
                    }
    
                    @media screen and (max-width:$mobile) {
                        margin-bottom: 15px;
                    }
    
                    &:nth-child(2) {
                        margin-right: 0;
    
                        svg {
                            width: 45px !important;
                        }
                    }
    
                    &:nth-child(1) {
                        svg {
                            width: 60px;
                        }
                    }
    
                    a {
                        display: flex;
                        text-align: center;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
    
                        &:hover {
                            color: initial;
                        }
    
                        i {
                            display: block;
                            margin: 0px auto 10px;
    
                            svg {
                                height: auto !important;
                                fill: $cor-cta;
                            }
                        }
    
                        p {
                            strong {
                                font-size: 24px;
                                font-weight: bold;
                                color: $cor-cta;
                                display: block;
                            }
    
                            small {
                                font-size: 20px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}