@media (min-width: 1200px) {
	.container {
		width: 1170px;
		max-width: 100%;
	}
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

#ajaxBusy,
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
	display: none !important;
}

.desktop {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: $mobile) {
		display: block !important;
	}
}

#shared {
	position: fixed;
	bottom: 31px;
	right: 100px;
	width: 220px;
	height: 56px;
	color: #fff;
	text-decoration: none;
	background-color: #C91818;
	border: none;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);

	i {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-right: 10px;
	}

	p {
		margin: 0;
		line-height: 15px;

		small {
			display: block;
		}
	}
}

#modal_image {
	width: 900px;
	height: auto;
	position: fixed;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -450px;
	transform: scale(0);
	transition: all 300ms;
	background-color: white;
	z-index: 12;

	@media screen and (max-width:$mobile) {
		width: calc(100% - 30px);
		height: 80%;
		margin: 0;
		top: 10%;
		left: 15px;
	}

	/* width */
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		border-radius: 50px;
		background-color: #e4e4e4;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background-color: $cor-principal;
		border-radius: 50px;
	}

	&.active {
		transform: scale(1);
	}

	.head {
		text-align: right;

		.close {
			color: #000;
			font-size: 14px;
			font-weight: bold;
			display: block;
			margin-top: -18px;
		}
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		padding: 15px;

		@media screen and (max-width:$mobile) {
			height: 100%;
			overflow-x: hidden;
		}

		.column_1,
		.column_2 {
			@media screen and (min-width:$mobile) {
				width: 50%;
			}

			@media screen and (max-width:$mobile) {
				width: 100%;
			}
		}

		.column_1 {
			display: flex;

			@media screen and (max-width:$mobile) {
				flex-wrap: wrap;
				flex-direction: column-reverse;
			}

			img:not([role="presentation"]) {
				width: 100%;
				height: auto;
			}

			.thumbs {
				width: 20%;

				@media screen and (max-width:$mobile) {
					width: 100%;
				}

				ul {
					max-height: 352px;
					overflow-x: hidden;
					padding-right: 5px;

					@media screen and (max-width:$mobile) {
						display: flex;
						flex-wrap: nowrap;
						justify-content: initial;
						overflow-x: auto;
						-webkit-overflow-scrolling: touch;
						-ms-overflow-style: -ms-autohiding-scrollbar;
					}

					li {
						padding: 3px;
						margin-bottom: 5px;
						border: 1px solid #dcdcdc;

						@media screen and (max-width:$mobile) {
							flex: 0 0 auto;
							width: 50px;
							height: 50px;
							margin-right: 5px;
						}

						img {
							cursor: pointer;
						}
					}
				}
			}

			figure {
				width: 80%;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #dcdcdc;

				@media screen and (min-width:$mobile) {
					margin: 0 5px;
					padding: 0 5px;
				}

				@media screen and (max-width:$mobile) {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}

		.column_2 {
			@media screen and (min-width:$mobile) {
				padding-left: 25px;
			}

			.name {
				font-size: 26px;
				font-weight: 300;
			}

			.description {
				font-weight: 300;
				margin: 5px 0 30px 0;
				text-transform: uppercase;
			}

			.price {
				.por {
					font-size: 24px;
					color: #af2b2b;
					font-style: normal;
				}

				.parc {
					font-weight: 300;
				}
			}

			.qtd {
				display: flex;
				align-items: center;
				padding-top: 15px;
				margin-top: 15px;
				border-top: 1px solid #dcdcdc;

				.text {
					margin-right: 15px;
				}

				.input {
					max-width: 120px;
					width: 100%;
					height: 35px;
					background-color: #f8f8f8;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border: 1px solid #dcdcdc;
					border-radius: 3px;

					input {
						width: 80%;
						height: 100%;
						text-align: center;
						background-color: transparent;
					}

					span {
						width: 20%;
						height: 100%;
						line-height: 35px;
						color: $cor-cta;
						font-weight: bold;
						cursor: pointer;
						text-align: center;
					}
				}
			}

			.buy {
				width: 100%;
				height: 45px;
				line-height: 45px;
				display: block;
				font-size: 23px;
				letter-spacing: 1px;
				font-weight: 700;
				color: #fff;
				border-radius: 3px;
				text-align: center;
				margin: 18px 0 10px 0;
				text-transform: uppercase;
				background-color: $cor-cta;
				border-bottom: 3px solid green;
			}
		}
	}
}

.popups {
	.pop_up {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
		transition: all 300ms;
		background-color: white;
		box-shadow: 0px 0px 6px 1px #dcdcdc;
		padding: 10px;
		z-index: 12;

		opacity: 0;
		visibility: hidden;
		transform: scale(0);

		@media screen and (min-width:$mobile) {
			max-width: 500px;
			width: 100%;
			height: 270px;
			top: 50%;
			margin-top: -135px;
			left: 50%;
			margin-left: -250px;
		}

		@media screen and (max-width:$mobile) {
			width: calc(100% - 30px);
			height: 90%;
			top: 15px;
			left: 15px;
			overflow: scroll;
		}

		&.active {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}

		&.success {
			.content {
				margin-bottom: 60px;

				.title {
					text-align: center;
					font-weight: bold;
					margin-bottom: 15px;
				}

				.description {
					max-width: 80%;
					margin: 0 auto;
					font-weight: 300;
					text-align: center;
				}
			}

			.footer {
				p {
					text-align: center;
					margin-bottom: 15px;
				}

				ul {
					display: flex;
					align-items: center;
					justify-content: space-evenly;

					li {
						&:nth-child(1) {
							a {
								font-weight: bold;
								color: $cor-cta;
							}
						}

						&:nth-child(2) {
							a {
								width: 170px;
								color: #fff;
								background-color: $cor-cta;
								text-align: center;
							}
						}

						a {
							height: 45px;
							line-height: 45px;
							display: block;
						}
					}
				}
			}
		}

		&.lista {
			.title {
				font-size: 19px;
			}

			.voltar_escola {
				width: auto;
				height: 40px !important;
				line-height: 40px !important;
				text-align: center;
				background-color: $cor-cta;
				padding: 0 15px;
				color: white !important;
				border-radius: 3px;
			}
		}

		&.editar {
			@media screen and (min-width:$mobile) {
				max-width: 900px;
				height: auto;
				margin-left: -450px;
				margin-top: 0;
				top: 10%;
			}

			.head {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 5px 0 10px;

				.name {
					font-size: 18px;
					font-weight: bold;
				}

				.close {
					font-size: 24px;
					font-weight: bold;
				}
			}

			.content {
				@media screen and (max-width:$mobile) {
					height: 500px;
					overflow: scroll;
				}

				.ordenar {
					display: flex;
					align-items: center;

					@media screen and (max-width:$mobile) {
						flex-direction: column;
					}

					p {
						margin-right: 20px;

						@media screen and (max-width:$mobile) {
							margin-right: 0;
							margin-bottom: 15px;
						}
					}

					ul {
						display: flex;
						align-items: center;

						li {
							margin-right: 10px;

							a {
								height: 40px;
								line-height: 40px;
								text-align: center;
								padding: 0 20px;
								display: block;
								background-color: #E5E5E5;
								transition: background-color 300ms;

								&.active {
									background-color: $cor-secundaria;
								}
							}
						}
					}
				}

				.options {
					margin-bottom: 20px;

					.option {
						width: 50%;
						padding: 20px 0;
						display: flex;
						align-items: center;
						display: inline-block;
						border-bottom: 1px solid #dcdcdc;

						>p {
							margin-bottom: 5px;

							@media screen and (max-width:$mobile) {
								margin-bottom: 15px;
							}
						}

						&.add {
							@media screen and (max-width:$mobile) {
								flex-direction: column;
							}

							form {
								width: 320px;
								height: 40px;
								display: flex;
								border: 1px solid #dcdcdc;
								border-radius: 3px;

								input[type="tel"] {
									width: 70%;
									height: 100%;
									text-indent: 15px;
								}

								input[type="submit"] {
									width: 30%;
									height: 100%;
									color: #fff;
									cursor: pointer;
									font-weight: bold;
									text-transform: uppercase;
									background-color: $cor-cta;
								}
							}
						}

						&.qtd_recomendada,
						&.link_pdf {
							input {
								height: 40px;
								border-radius: 3px;
								border: 1px solid #dcdcdc;

							}
						}

						&.qtd_recomendada {
							input {
								width: 80px;
								text-align: center;
							}
						}

						&.message {
							width: 100%;

							textarea {
								width: 420px;
								max-width: 100%;
								height: 100px;
								padding: 5px;
								border: 1px solid #dcdcdc;
							}
						}

						&.link_pdf {
							input {
								width: 400px;
								text-indent: 15px;

								@media screen and (max-width:$mobile) {
									width: 100%;
								}
							}
						}
					}
				}

				.cadastrar_ciclos {
					padding-bottom: 20px;
					margin-bottom: 20px;
					border-bottom: 1px solid #dcdcdc;

					>p {
						font-weight: 300;
						margin-bottom: 20px;
					}

					.columns {
						display: flex;
						justify-content: space-between;

						@media screen and (max-width:$mobile) {
							flex-wrap: wrap;
						}

						.column {
							width: 24%;

							@media screen and (max-width:$mobile) {
								width: 100%;

								&:not(:last-child) {
									margin-bottom: 15px;
									padding-bottom: 15px;
									border-bottom: 1px solid #dcdcdc;
								}
							}

							.title {
								margin-bottom: 10px;
							}

							ul {
								li {
									&:not(:last-child) {
										margin-bottom: 15px;
										padding-bottom: 10px;
										border-bottom: 1px solid #dcdcdc;
									}

									a {
										display: flex;
										align-items: center;

										&.checked {
											span {
												filter: grayscale(0);

												i {
													left: 30px;
												}
											}

											&+.btn.integral {
												display: flex;
											}
										}

										//PERÍODO INTEGRAL?
										&.btn.integral {
											display: none;
											margin-top: 10px;
										}

										span {
											position: relative;
											display: flex;
											align-items: center;
											width: 50px;
											height: 21px;
											border-radius: 50px;
											background-color: #eeeeee;
											padding: 0 5px;
											margin-right: 10px;
											filter: grayscale(1);
											transition: all 300ms;

											i {
												display: block;
												width: 17px;
												height: 17px;
												background-color: #00a574;
												border-radius: 50px;
												position: absolute;
												left: 3px;
												transition: left 300ms;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.footer {
				text-align: right;

				a {
					display: inline-block;
					width: 150px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					font-size: 16px;
					font-weight: 400;
					color: #fff;
					border-radius: 3px;
					background-color: #35a376;
					border-bottom: 2px solid green;
				}
			}
		}
	}
}

#continue_buy {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background-color: white;
	z-index: 1;
	display: block;
	height: 265px;
	margin-top: -132.5px;
	padding: 15px;
	z-index: 12;
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms;

	&.active {
		visibility: visible;
		opacity: 1;
	}

	@media screen and (max-width:$mobile) {
		width: calc(100% - 30px);
		height: auto;
		top: 20%;
		left: 15px;
		margin: 0;
	}

	&>.close {
		float: right;
		margin-top: -40px;
		font-weight: bold;
		color: white;
		font-size: 18px;
		margin-right: -15px;
	}

	.content {
		.head {
			padding: 20px 0;
			text-align: center;
			margin-bottom: 20px;
			border-bottom: 1px solid #dcdcdc;

			svg {
				width: 80px;
				height: 84px;
				margin-bottom: 25px;
			}

			p {
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;

				@media screen and (max-width:$iphone5) {
					font-size: 14px;
				}
			}
		}

		.footer {
			ul {
				display: flex;
				justify-content: space-between;

				@media screen and (max-width:$mobile) {
					flex-direction: column;
				}

				li {
					a {
						width: 220px;
						height: 35px;
						line-height: 35px;
						font-weight: bold;
						text-align: center;
						display: inline-block;
						text-transform: uppercase;

						@media screen and (max-width:$mobile) {
							width: 100%;
							margin-bottom: 10px;
						}
					}

					&:nth-child(1) {
						a {
							font-weight: bold;
							color: $cor-principal;
							border: 1px solid $cor-principal;
						}
					}

					&:nth-child(2) {
						a {
							background-color: $cor-cta;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

//LOADING
@keyframes ldio-718ktu1vpx3 {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

#loading-app {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d4d4d461;

	.ldio-718ktu1vpx3 div {
		position: absolute;
		width: 90px;
		height: 90px;
		border: 15px solid #af2b2b;
		border-top-color: transparent;
		border-radius: 50%;
	}

	.ldio-718ktu1vpx3 div {
		animation: ldio-718ktu1vpx3 1s linear infinite;
		top: 75px;
		left: 75px
	}

	.loadingio-spinner-rolling-w7rs7kfu8i {
		width: 150px;
		height: 150px;
		display: inline-block;
		overflow: hidden;
		background: none;
	}

	.ldio-718ktu1vpx3 {
		width: 100%;
		height: 100%;
		position: relative;
		transform: translateZ(0) scale(1);
		backface-visibility: hidden;
		transform-origin: 0 0;
		/* see note above */
	}

	.ldio-718ktu1vpx3 div {
		box-sizing: content-box;
	}
}

//FIM - LOADING
#overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(130, 130, 130, 0.5);
	position: fixed;
	transition: opacity .5s;
	visibility: hidden;
	z-index: 11;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.img-fluid img {
	width: 100%;
	height: auto;
}

.txt-center {
	text-align: center;
}

.dis-none {
	display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	background-color: #f8f8f8;
	box-sizing: border-box;
	overflow-x: hidden;
	font-size: 14px;
	color: $cor-texto;
	font-family: $font-principal;

	&.active {
		@media screen and (max-width:$mobile) {
			overflow: hidden;
		}
	}
}

/*---------------------------------------------*/
a {
	color: inherit;
	transition: color 0.5s;
	text-decoration: none;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
	color: $cor-principal;
}

/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
	font-family: $font-principal;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input,
textarea,
label {
	display: block;
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

iframe {
	border: none;
}