$font-principal: 'Montserrat', sans-serif;
$font-secundaria: sans-serif;

$branco: #fff;
$cor-principal: #af2b2b;
$cor-principal-escuro: #7b262e;
$cor-secundaria: #fccb56;
$cor-cta: #35a376;
$cor-texto: #343434;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1024px;
$small-monitor: 1366px;